<form (submit)="$event.preventDefault();
    handleSubmit(latitude.value, longitude.value)">
  <mat-form-field>
    <input matInput
      #latitude
      placeholder="latitude"
      value="{{ (coordinatesService.coordinates | async)?.latitude }}" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
        #longitude
        placeholder="longitude"
        value="{{ (coordinatesService.coordinates | async)?.longitude }}" />
  </mat-form-field>
  <button mat-raised-button color="primary">
    Search
</button>
</form>