<form [formGroup]="coordinatesForm"
    (submit)="$event.preventDefault(); handleSubmit(coordinatesForm.value)">
  <mat-form-field>
    <input matInput
        placeholder="latitude"
        [formControl]="coordinatesForm.controls['latitude']" />
    <mat-error *ngIf="!coordinatesForm.controls['latitude'].valid">
        latitude required.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
        placeholder="longitude"
        [formControl]="coordinatesForm.controls['longitude']" />
    <mat-error *ngIf="!coordinatesForm.controls['longitude'].valid">
        longitude required.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary">
    Search
</button>
</form>