/* Mobile styles first */
.hazdev-sidenav-toggle {
  float: right;
  margin: 10px 14px 0 0;
}

.mat-drawer-container {
  background: #fff;
}

mat-sidenav {
  width: 228px; /* Don't use a percentage here */
}

/* Larger screen styles */
@media screen and (min-width: 768px) {
  .hazdev-sidenav-toggle {
    margin: 1em 1em 0 0;
  }
}

/* Print styles */
@media print {
  .sidenav-toggle {
    display: none;
  }
}
