<div *ngIf="showProgressBar; else search" class="center-spinner">
  <mat-progress-bar
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
</div>

<ng-template #search>
  <mat-form-field class="full-width">
    <input matInput
        #address
        placeholder="Address"/>
  </mat-form-field>
  <button mat-raised-button
      color="primary"
      (click)="doGeocode(address.value)">
    Search
  </button>

  <div *ngIf="geocodeService.error | async; let text">
    <p color="warn">
      {{ text }}
    </p>
  </div>

</ng-template>