hazdev-template-nav-item > .mat-list-item > .mat-list-item-content {
  color: #666;
  font-size: 0.88em;
}

hazdev-template-nav-group > section > header > hazdev-template-nav-item > .mat-list-item > .mat-list-item-content,
mat-nav-list > nav > hazdev-template-nav-item > .mat-list-item > .mat-list-item-content {
 color: #333;
 font-size: 1em;
}

hazdev-template-nav-group > section {
  margin: 0.5em 0;
}

hazdev-template-nav-group + hazdev-template-nav-item,
nav > hazdev-template-nav-item + hazdev-template-nav-item {
  display: block;
  border-top: 1px solid #ddd;
}
