/* Import your custom theme */
@import '../theme.scss';

.hazdev-navigation-sitenav {
  background-color: #3d5e80;
  background-color: mat-color($earthquake-app-primary);
  margin: 1em 0;
  padding: 0;
}

.hazdev-navigation-sitenav > a.mat-list-item {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid hsla(0,0%,100%,.1);
  border-right: 1px solid hsla(0,0%,100%,.1);
  border-top: 1px solid hsla(0,0%,100%,.1);
  color: #fff;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  transition: background .25s ease-out;
}

.hazdev-navigation-sitenav > a.mat-list-item > .mat-list-item-content {
  color: #fff;
}

.site-sectionnav > section {
  margin: 0.5em 0;
}

.site-sectionnav > section > a.mat-list-item {
  color: #666;
  font-size: .88em;
}

.site-sectionnav > section:not(:first-child),
.site-sectionnav > a:not(:first-child) {
  border-top: 1px solid #ddd;
}

form.site-search {
  margin: 1em 0 0;
  padding: 0 1em;

 > button {
    margin: 0 0 1em;
  }
}

