<mat-nav-list *ngIf="NAVIGATION" class="site-sectionnav">
  <ng-container *ngFor="let item of NAVIGATION">
    <ng-container *ngIf="item.header">
      <section>
        <header>
          <a mat-list-item href="{{ item.header.href }}">{{ item.header.display }}</a>
        </header>
        <a *ngFor="let link of item.links" mat-list-item href="{{ link.href }}">{{ link.display }}</a>
      </section>
    </ng-container>
    <a *ngIf="item.href" mat-list-item href="{{ item.href }}">{{ item.display }}</a>
  </ng-container>
</mat-nav-list>

<mat-nav-list *ngIf="SITE_SITENAV"
    class="hazdev-navigation-sitenav"
    aria-label="Site Navigation"
>
  <a *ngFor="let item of SITE_SITENAV" mat-list-item href="{{ item.href }}">
    {{ item.display }}
  </a>
</mat-nav-list>

<form class="site-search" role="search" action="//search.usa.gov/search" method="get" accept-charset="UTF-8">
    <input name="utf8" type="hidden" value="✓"/>
    <input name="affiliate" type="hidden" value="usgs"/>
    <input name="sitelimit" type="hidden" value="{{ SITE_URL }}" />
  <mat-form-field>
    <input matInput id="query" name="query" type="search" placeholder="Search..." title="Search"/>
  </mat-form-field>
    <button type="submit" mat-raised-button>Search</button>
</form>
