<app-location-map></app-location-map>
<app-coordinate-input></app-coordinate-input>

<app-location-output></app-location-output>
<app-admin-region></app-admin-region>
<app-authoritative-region></app-authoritative-region>
<app-nearby-places></app-nearby-places>
<app-neic-catalog-region></app-neic-catalog-region>
<app-neic-response-region></app-neic-response-region>
<app-offshore-region></app-offshore-region>
<app-tectonic-summary-region></app-tectonic-summary-region>
<app-timezone-region></app-timezone-region>
