
<h1 mat-dialog-title>Choose a Location</h1>
<p>
  Use one of the methods below to add a location to the map.
</p>

<mat-dialog-content>
  <mat-accordion>
    <!-- Geolocate control -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons header-icon">my_location</i>
          Find Current Location
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-geolocate-input></app-geolocate-input>
    </mat-expansion-panel>

    <!-- TODO, Geocode control-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons header-icon">location_city</i>
          Search for an Address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>TODO</p>
    </mat-expansion-panel>

    <!-- Coordinate Control -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons header-icon">language</i>
          Enter Coordinates
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-coordinate-input></app-coordinate-input>
    </mat-expansion-panel>

  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close()">
    Close
  </button>
</mat-dialog-actions>