
<h1 mat-dialog-title>Choose a Location</h1>
<p>
  Use one of the methods below to add a location to the map.
</p>

<mat-dialog-content>
  <mat-accordion>
    <!-- Geolocate control panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="header-icon">my_location</mat-icon>
          Find Current Location
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-geolocate-input></app-geolocate-input>
    </mat-expansion-panel>

    <!-- Geocode control panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="header-icon">location_city</mat-icon>
          Search for an Address
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-geocode-input></app-geocode-input>
    </mat-expansion-panel>

    <!-- Coordinate Control panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="header-icon">language</mat-icon>
          Enter Coordinates
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-coordinate-input></app-coordinate-input>
    </mat-expansion-panel>

  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="dialogRef.close()"
  >
    Close
  </button>
</mat-dialog-actions>