@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
  font-size: 10px;
}
body {
  color: #333333;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
}
p {
  margin: 1em 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: block;
  font-family: 'Merriweather',Times,serif;
  line-height: 1.3;
  margin: 1.5em 0 0.5em;
}
header > h1, header > .h1 {
  margin-top: 0.75em;
}
h1, .h1 {
  font-size: 1.7625em;
}
h2, .h2 {
  font-size: 1.175em;
}
h3, .h3 {
  font-size: 1em;
}
h4, .h4 {
  font-size: 0.88125em;
}
h5, .h5 {
  font-size: 0.763755em;
}
h6:not(.h1):not(.h2):not(.h3):not(.h4):not(.h5), .h6 {
  font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
  font-size: 0.763755em;
  font-weight: 400;
  text-transform: uppercase;
}
/* Remove user agent styles */
cite, var, address, dfn {
  font-style: normal;
}
/** Text Level Semantics **/
a {
  color: #0071bc;
}
a:visited {
  color: #4c2c92;
}
a:active {
  color: #205493;
}
abbr {
  cursor: help;
}
pre, code {
  background: #f4f4f4;
  border-radius: 3px;
  color: #666666;
  font-family: Consolas,monospace,serif;
}
:not(pre)>code {
  border: 1px solid #dddddd;
  padding: 2px 4px;/* do not break code element unless inside pre tag */
  white-space: nowrap;
}
code {
  font-size: 0.88em;
}
pre {
  border: 1px solid #dddddd;
  padding: 1em;
  overflow: scroll;
  margin: 1em 0;
}
pre > code {
  word-wrap: normal;
}
mark {
  background-color: #ffa;
  padding: 2px 4px;
}
