.hazdev-navigation-sitenav {
  background-color: #3d5e80;
  margin: 1em 0;
  padding: 0;
}

.hazdev-navigation-sitenav > a {
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid hsla(0,0%,100%,.1);
  border-right: 1px solid hsla(0,0%,100%,.1);
  border-top: 1px solid hsla(0,0%,100%,.1);
  color: #fff;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  transition: background .25s ease-out;
}

form {
  margin: 1em 0 0;
  padding: 0 1em;
}

button {
  margin: 0 0 1em;
}