<nav class="site-footer offcanvas">
  <section *ngIf="sectionNavigation" id="site-sectionnav" class="site-sectionnav" aria-label="Section Navigation">
    <ng-container *ngFor="let item of sectionNavigation">
      <section *ngIf="item.header">
        <header>
          <a href={{item.header.href}}>{{item.header.display}}</a>
        </header>
        <a *ngFor="let link of item.links" href={{link.href}}>{{link.display}}</a>
      </section>
      <a *ngIf="item.href" href={{item.href}}>{{item.display}}</a>
    </ng-container>
  </section>

  <section *ngIf="siteNavigation" class="site-sitenav" aria-label="Site Navigation">
    <a *ngFor="let item of siteNavigation" href={{item.href}}>{{item.display}}</a>
  </section>
  <form *ngIf="includeSearch" class="site-search" role="search" action="//search.usa.gov/search" method="get" accept-charset="UTF-8">
    <input name="utf8" type="hidden" value="✓">
    <input name="affiliate" type="hidden" value="usgs">
    <input name="sitelimit" type="hidden" value="https://earthquake.usgs.gov">
    <input id="query" name="query" type="search" placeholder="Search..." title="Search">
    <button type="submit">Search</button>
  </form>
</nav>
