<h2>Administrative Region</h2>
<div *ngIf="regionsService.adminRegions | async; else noAdminRegion;
    let adminRegions" class="output-section">
  <dl class="admin-region">
    <dt>ISO</dt>
    <dd>
      {{ adminRegions?.properties.iso }}
    </dd>
    <dt>Region</dt>
    <dd>
      {{ adminRegions?.properties.region }}
    </dd>
    <dt>Country</dt>
    <dd>
      {{ adminRegions?.properties.country }}
    </dd>
  </dl>
</div>

<!-- No administrative region was returned -->
<ng-template #noAdminRegion>
  <app-no-data></app-no-data>
<ng-template>


